.container {
  height: 50%;
  width: 20%;
  border-radius: 5%;
  overflow: hidden;
  background-color: none;
}

.itemEven {
  height: 100%;
  width: 100%;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.itemOdd {
  height: 100%;
  width: 100%;
  background-color: #444444;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.imgCon {
  height: 70%;
  width: 100%;
  /* background-color: blue; */
  /* opacity: 0.2; */
}

.img {
  height: 100%;
  width: 100%;
  object-fit: none;
  zoom: 60%;
}

/* MEDIA QUERIES */

/* LAPTOP LARGE */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .img {
    zoom: 60%;
  }
}
/* LAPTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .img {
    zoom: 35%;
  }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img {
    zoom: 38%;
  }
}

@media all and (max-width: 767px) {
  .img {
    zoom: 30%;
  }
  .container {
    width: 50%;
    height: 20%;
  }
}

@media screen and (max-width: 767px) and (max-height: 500px) {
  .img {
    zoom: 20%;
  }
}
