.container {
  height: 90vh;
  width: 100%;

  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.skillSelect {
  width: 40%;
  height: 100%;
}

.skillSelect ul {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.skillSelect li {
  width: 90%;
  list-style: none;
  border-radius: 15px;
  background-color: #4e4e4e;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: calc(0.4em + 2.2vmin);

  cursor: pointer;
  padding: 10px;
}

.skillDescription {
  width: 55%;
  height: 100%;
}

.skillDescription ul {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: baseline;
  align-content: baseline;
  flex-wrap: wrap;
  gap: 10px;
}

.skillDescription ul h2 {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;

  line-height: 1.1em;
}

.skillDescription ul li {
  width: auto;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 12px;
  border-radius: 8px;

  font-family: 'Montserrat', sans-serif;
  font-size: calc(0.4em + 1.5vmin);
  /* background-color: white; */
}

.title {
  height: 25vh;
  width: 70%;
  margin: 0 auto;
  /* background-color: blue; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h2 {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;

  font-size: calc(1em + 4vmin);
  line-height: 1.1em;

  /* color: #fc8359; */
  color: beige;
}

.title p {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1em + 1vmin);
  /* color: #fc8359; */
  color: #fc8359;
}

.d0 li {
  transition: all 0.3s;
  color: #ff9062;
  border: 2px solid #ff9062;
}

.d0 li:hover {
  transition: all 0.3s;
  color: beige;
  border: 2px solid beige;
}

.d1 li {
  transition: all 0.3s;
  color: #fe7f4c;
  border: 2px solid #fe7f4c;
}
.d1 li:hover {
  transition: all 0.3s;
  color: beige;
  border: 2px solid beige;
}
.d2 li {
  transition: all 0.3s;
  color: #f4541a;
  border: 2px solid #f4541a;
}
.d2 li:hover {
  transition: all 0.3s;
  color: beige;
  border: 2px solid beige;
}
.d3 li {
  transition: all 0.3s;
  color: #fe7f4c;
  border: 2px solid #fe7f4c;
}
.d3 li:hover {
  transition: all 0.3s;
  color: beige;
  border: 2px solid beige;
}
.d4 li {
  transition: all 0.3s;
  color: #ff9062;
  border: 2px solid #ff9062;
}
.d4 li:hover {
  transition: all 0.3s;
  color: beige;
  border: 2px solid beige;
}
