.list {
  height: 15%;
  border: 3px solid beige;
  transition: all 0.3s;
  color: beige;
}

.active0 {
  border: 3px solid #ff9062;
  height: 19%;
  transition: all 0.3s;
  color: #ff9062;
}
.active1 {
  border: 3px solid #fe7f4c;
  height: 19%;
  transition: all 0.3s;
  color: #fe7f4c;
}
.active2 {
  border: 3px solid #f4541a;
  height: 19%;
  transition: all 0.3s;
  color: #f4541a;
}
.active3 {
  border: 3px solid #fe7f4c;
  height: 19%;
  transition: all 0.3s;
  color: #fe7f4c;
}
.active4 {
  border: 3px solid #ff9062;
  height: 19%;
  transition: all 0.3s;
  color: #ff9062;
}

/*  */

.skills {
  height: 50%;
  width: 70%;
  background-color: #3a3a3a;

  border-radius: 25px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: all 0.3s;
}

.b0:hover {
  transition: all 0.3s;
  box-shadow: 3px 3px 2px #ff9062;
}
.b1:hover {
  transition: all 0.3s;
  box-shadow: 3px 3px 2px #fe7f4c;
}
.b2:hover {
  transition: all 0.3s;
  box-shadow: 3px 3px 2px #f4541a;
}
.b3:hover {
  transition: all 0.3s;
  box-shadow: 3px 3px 2px #fe7f4c;
}
.b4:hover {
  transition: all 0.3s;
  box-shadow: 3px 3px 2px #ff9062;
}

.skillset {
  color: beige;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: calc(1em + 5vmin);
  transition: all 0.3s;
}

.c0:hover {
  transition: all 0.3s;
  color: #ff9062;
}
.c1:hover {
  transition: all 0.3s;
  color: #fe7f4c;
}
.c2:hover {
  transition: all 0.3s;
  color: #f4541a;
}
.c3:hover {
  transition: all 0.3s;
  color: #fe7f4c;
}
.c4:hover {
  transition: all 0.3s;
  color: #ff9062;
}

/* LAPTOP LARGE */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
}
/* LAPTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .skills {
    width: 85%;
  }
}

@media all and (max-width: 767px) {
  /* Transition to mobile, change orientations */
  .skills {
    height: 60%;
    height: 60svh;

    width: 85%;
    flex-direction: column-reverse;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 480px) {
}

/* For Mobile Landscape View */
@media screen and (max-width: 640px) {
  .skills {
    width: 85%;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) and (max-height: 800px) {
  .skills {
    height: 45%;
    width: 85%;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) and (max-height: 600px) {
  .skills {
    height: 55%;
    width: 85%;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) and (max-height: 300px) {
  .skills {
    height: 65%;
    width: 85%;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) and (max-height: 500px) {
  .skills {
    height: 70%;
  }
}
