@import url('https://use.typekit.net/qft2lfv.css');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navbar {
  height: calc(var(--vh, 1vh) * 7);
  width: 100%;
  margin: 0 auto;
  background-color: #1f1f1f;

  z-index: 10;
  top: 0;
  position: sticky;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: row;

  transition: 0.3s;
}
.navContainer {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.burgerDrop {
  background-color: #fc8359;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  width: 100%;
  z-index: 20;
}

.burgerDrop li {
  position: relative;
  display: inline;
  text-align: center;
}

.burgerDrop li a {
  font-size: calc(0.75em + 9vmin);
  border: none;
  background-color: transparent;

  pointer-events: all;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #4e4e4e;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
  text-align: center;
}
.burgerDrop li a:hover {
  transition: 0.4s;
  color: black;
}

.navClose {
  color: #fc8359;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: calc(1em + 2vmin);
  position: absolute;
  height: 40px;
  width: 40px;
  top: 4vh;
  right: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navClose {
  transition: 0.4s;
  color: black;
}

@media screen and (max-device-width: 700px) {
  .Navbar ul li a {
    font-size: calc(0.75em + 9vmin);
  }
}
